attrs~=20.3.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-plugins==1.1.1
cligj~=0.7.2
cycler==0.10.0
decorator==4.4.2
Fiona~=1.8.20
geopandas==0.9.0
idna==2.10
kiwisolver==1.3.1
matplotlib==3.4.2
munch==2.5.0
networkx==2.5.1
numpy~=1.20.1
osmnx==1.1.1
pandas==1.2.4
Pillow==8.2.0
pydot==1.4.2
pyparsing==2.4.7
pyproj==3.1.0
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
Rtree==0.9.7
scipy==1.6.3
Shapely==1.7.1
six~=1.15.0
urllib3==1.26.4
graphviz~=0.16
imageio~=2.9.0
pip~=21.1.2
setuptools~=57.0.0
keyring~=18.0.1
python-louvain~=0.14
cdlib~=0.2.0
docutils~=0.17.1
cffi~=1.14.5
future~=0.18.2
ipython~=7.21.0
nf1~=0.0.3
configparser~=5.0.2
wheel~=0.34.2
cryptography~=3.4.7
py~=1.9.0
tornado~=6.1
PuLP~=2.4
amply~=0.1.4
tqdm~=4.60.0
colorama~=0.4.4
notebook~=6.2.0
seaborn~=0.11.1
pooch~=1.3.0
infomap~=1.3.0
wurlitzer~=2.1.0
karateclub~=1.1.0
demon~=2.0.5
pquality~=0.0.7
PyYAML~=5.4.1
pytest~=6.1.2
scikit-learn~=0.23.2
packaging~=20.7
appdirs~=1.4.4
PyGSP~=0.5.1
bimlpa~=0.1.2
dynetx~=0.2.4
gensim~=4.0.1
joblib~=1.0.1
psutil~=5.5.1
crayons~=0.4.0
threadpoolctl~=2.1.0
Pygments~=2.8.1
simplejson~=3.16.0
PyGObject~=3.36.0
ipykernel~=5.5.0
Jinja2~=2.11.3
testpath~=0.4.4
SecretStorage~=2.3.1
entrypoints~=0.3
pluggy~=0.13.1
pycparser~=2.20